*.pyc
*.swp
*.swo
rdf/*
!rdf/README
classifiers/*
!classifiers/README
!classifiers/EchonestClassifier.class.php
!classifiers/NullClassifier.class.php
!classifiers/TagClassifier.class.php
!classifiers/PathClassifier.class.php
audio
AFRepo.class.php
