*.pyc
*.swp
*.swo
rdf/*
!rdf/README
repositories/*
!repositories/README
classifiers/*
!classifiers/README
!classifiers/EchonestClassifier.class.php
!classifiers/IMIRSELdbClassifier.class.php
dbsetup.sh
audio
AFRepo.class.php
